.product-card {
    background-image: url('/public/post_price.png');
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    align-content: center;
    width: 300px;
    height: 250px;
}